<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" preserve-order="true">
    <!--@Parameters({"employeeName","employeeSex","employeeEmail","employeePassword","employeePhone","employeeBrief","employeePosition"})-->
    <test name="EnterpriseManagementTest" preserve-order="true">
        <groups>
            <run>
                <include name="BasicOperationTest.init"/>
                <include name="BasicOperation.logIn"/>
                <include name="EnterpriseManagement.init"/>
                <include name="EnterpriseManagement.AddEmployee"/>
                <!--<include name="BasicOperationTest.destroy"/>-->
            </run>
        </groups>
        <packages>
            <package name="com.main.*"/>
        </packages>
        <!--<classes>-->
            <!--<class name="com.main.testcase.EnterpriseManagementTest"/>-->
        <!--</classes>-->
    </test>
</suite>